
body {
    background-color: white;
    font-family: Calibri;
}

#checkboxTable {
    border-top: 1px solid black;
    padding: 8px;
    margin: 0;
}

#resultTable {
    border-top: 1px solid black;
    padding: 8px;
    margin: 10px 0 0 0;
}

#checkboxTable tr, th, td, thead, tbody {
    margin: 0;
    padding: 0;
}

#resultTable td {
    margin-top: 10px;
    padding: 8px;
}

#resultTable th {
    padding-left: 8px;
    padding-right: 8px;
}

.firstRowPlanet {
    border-top: 1px solid black;
}

.firstRowOp {
    border-top: 1px dashed black;
}

table {
    border-collapse: collapse;
}
